
.SideBar{
  width: 20%;
  height:auto;
  float:left;

}
.MovieViewer{
  width:80%;
  height:auto;
  float:left;
}

.FilterOption{
  margin:2px;
  float: left;
}

.Clear{
  clear: both;
}

.MovieInfo{
  position:relative;
  top:-50px;
  
}

.MovieImage{
 min-height:300px;
}